nav {
	background-color: grey;
	margin-top: 0;
	padding: 0 60px 0;
	position: fixed;
	width: 100%;
}

nav img {
	float: left;
}

nav li {
	float: left;
	margin: 5% 25px 0 30px;
}

body {
	background-image: url(../images/outerspace_landscape.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
}

.cat {
	position: absolute;
	top: 300px;
	left: 60px;
}

.dog {
	position: relative;
	left: 600px;
	top: 600px;
}